<h4 class="section-header">{{localize "PF1RS.GrantedActions"}}</h4>
<div class="form-group">
  <span>{{ actions }}</span>
  <a class="flex0 edit-actions" data-tooltip="PF1.EditItem">
    <i class="fa-solid fa-pen-to-square"></i>
  </a>
</div>
