<div class="form-group">
  <label>{{localize "PF1.Type"}}</label>
  <div class="form-fields">
    <select class="sub-type-selector" name="system.subType">
      {{selectOptions subTypeOptions selected=system.subType}}
    </select>
  </div>
</div>
