<div class="flex0">
  <h4 class="section-header">{{localize "PF1.Type"}}</h4>

  <select class="sub-type-selector" name="system.subType">
    {{selectOptions subTypeOptions selected=system.subType}}
  </select>
</div>
