<form autocomplete='off'>
  <header class="header">
    <img src='{{img}}' data-edit='img'>
    <h1>
      <input type='text' name='name' value='{{name}}' data-dtype="String" />
    </h1>
  </header>

  <section class='description'>
    <h3>Description</h3>
    {{editor enrichedDesc target="system.description" button=true}}
  </section>

</form>
