.app.sheet.rebellion.actor {
  /* .tab.events {
    .event-chance {
      flex: 0;

      .rollable {
        align-items: center;
      }
    }
  } */

  .fa-triangle-exclamation {
    color: var(--pf1-color-text-error);
    text-shadow: 0 0 3px var(--pf1-faint);
  }
}
