.app.sheet.rebellion.actor {
  .tab.actions {
    .item-name {
      cursor: pointer;
      padding-right: 6px;
      height: 24px;

      .details {
        flex: 1;
        display: inline-flex;
        gap: 6px;
        align-items: center;
      }

      .compendium-entry {
        display: none;
      }

      &:hover {
        .compendium-entry {
          display: inline;
        }
      }
    }
  }
  /* .tab.events {
    .event-chance {
      flex: 0;

      .rollable {
        align-items: center;
      }
    }
  } */

  .fa-triangle-exclamation {
    color: var(--pf1-color-text-error);
    text-shadow: 0 0 3px var(--pf1-faint);
  }
}
