.app.sheet.rebellion {
  .item-controls {
    flex: 0 0 68px;

    &.one-button {
      flex: 0 0 32px;
    }

    &.two-button {
      flex: 0 0 48px;
    }

    &.five-button {
      flex: 0 0 110px;
    }
  }

  .item-detail {
    > select {
      border-style: none;
      padding: 0;
    }

    &.item-number {
      flex: 0 0 32px;
    }

    /* officer stuff */
    &.item-position {
      flex: 0 0 80px;
    }

    &.item-actor {
      flex: 1;
    }

    &.item-officer-bonus {
      flex: 0 0 100px;
    }

    &.item-teams-managed {
      flex: 0 0 90px;
    }

    /* action stuff */
    &.item-action-bonus {
      flex: 0 0 60px;
    }

    &.item-check {
      flex: 0 0 80px;
    }

    /* team stuff */
    &.item-type {
      flex: 0 0 100px;
    }

    &.item-tier {
      flex: 0 0 32px;
    }

    &.item-manager {
      flex: 0 0 200px;
    }

    &.item-size {
      flex: 0 0 32px;
    }

    &.item-team-bonus {
      flex: 0 0 40px;
    }

    &.item-disabled {
      flex: 0 0 52px;
    }

    &.item-missing {
      flex: 0 0 48px;
    }

    /* event stuff */
    &.item-persistent {
      flex: 0 0 64px;
    }

    &.item-mitigated {
      flex: 0 0 64px;
    }
  }
}

.app.sheet.rebellion input[type="number"] {
  text-align: center;
}

.app.sheet.rebellion .info-box select {
  flex: 0 0 21.5px;
  text-align: -webkit-center;
  border: unset;
}

.app.sheet.rebellion :is(span.text-box, input.text-box) {
  width: unset;
  border-radius: unset;
}
