.app.sheet.rebellion {
  .labeledValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }

  .horizLabeledValue {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .error {
    color: red;
  }

  .sheet-navigation {
    flex: 0;

    background: rgba(155, 155, 155, 0.3);
    border: 1px solid transparent;
    border-radius: 12px 12px 0 0;
    column-gap: 2px;

    .item {
      line-height: 20px;
      height: 20px;
      margin: 0;
      white-space: nowrap;
      border: 1px solid transparent;
      border-radius: 12px 12px 0 0;
      flex: 1;

      &.active {
        background: rgba(155, 155, 155, 0.5);
      }
      &:hover {
        background: rgba(155, 155, 155, 0.2);
      }
    }

    &.tabs {
      border-bottom: 2px groove #eeede0;
    }
  }

  .primary-body {
    flex: 1;
    overflow: hidden;

    .tab {
      height: 100%;
    }
  }

  :is(.notes, .description) {
    flex: 1 32px;
    gap: 4px;
  }

  :is(.notes, .description) .editor {
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1;
    padding: 4px 8px;
    font-size: var(--font-size-14);
    min-height: 96px;
  }

  .item-groups-list {
    padding: 0;
    margin: 0;
  }

  .item-list {
    padding: 0;
    overflow-y: auto;
    list-style: none;

    .officer {
      padding-left: 2px;
    }

    .item-name.item-formula {
      flex: 0 0 80px;

      > * {
        width: 100%;
      }
    }

    .item-list-header {
      margin: 2px 0;
      padding: 0;
      background: rgba(0, 0, 0, 0.05);
      border: 2px groove #eeede0;
      font-weight: bold;
      line-height: 24px;

      .item-name {
        padding-left: 5px;
        font-size: var(--font-size-12, 9pt);
        font-weight: bold;
      }
    }

    .item {
      line-height: 24px;
      border-bottom: 1px solid #c9c7b8;
      padding-right: 2px;

      background-color: var(--pf1-item-list-bg);
      &:nth-child(even) {
        background-color: var(--pf1-item-list-bg-alt);
      }
      &:hover {
        background-color: var(--pf1-item-list-hover-bg);
        color: var(--pf1-item-list-hover-text);
      }
      &.active {
        background-color: rgba(32, 32, 96, 0.2);
      }
      &:last-child {
        border-bottom: none;
      }

      .item-name {
        display: inline-flex;
        gap: 6px;
        align-items: center;

        &.item-formula {
          padding: 1px 2px 1px 0;
          margin-left: 2px;
        }

        .item-image {
          height: 24px;
          flex: 0 0 24px;
          background-size: 24px;
          background: no-repeat center;
          background-size: contain;
        }
      }

      .item-summary {
        flex: 0 0 100%;
        font-size: var(--font-size-12, 9pt);
        line-height: 1.5;
        padding: 0.25em 0.5em;
        border-top: 1px solid #c9c7b8;
      }
    }

    :is(.item-list-header, .item) {
      > *:not(:last-child) {
        border-right: 1px solid var(--color-border-light-secondary);
      }

      > *:not(.item-name) {
        justify-content: space-evenly;
      }
    }

    .item-detail {
      flex: 0 0 80px;
      font-size: var(--font-size-12, 9pt);
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      &.item-type {
        flex: 0 0 100px;
      }

      &.item-tier {
        flex: 0 0 32px;
      }

      &.item-manager {
        flex: 0 0 200px;
      }

      &.item-size {
        flex: 0 0 32px;
      }

      &.item-bonus {
        flex: 0 0 40px;
      }

      &.item-disabled {
        flex: 0 0 52px;
      }

      &.item-missing {
        flex: 0 0 48px;
      }

      &.item-persistent {
        flex: 0 0 64px;
      }

      &.item-mitigated {
        flex: 0 0 62px;
      }

      &.item-position {
        flex: 0 0 80px;
      }

      &.item-officer-bonus {
        flex: 0 0 100px;
      }

      &.item-teams-managed {
        flex: 0 0 90px;
      }

      &.item-check {
        flex: 0 0 60px;
      }

      &.item-target {
        flex: 1;
        padding: 1px 2px;

        > * {
          width: 100%;
        }
      }

      &.item-controls {
        flex: 0 0 80px;

        &.basic {
          flex: 0 0 48px;
        }

        .item-control {
          flex: 0 0 16px;
        }
      }
    }
  }
}

.app.sheet.rebellion input[type="number"] {
  width: 48px;
  height: 27px;
  text-align: center;
}

.app.sheet.rebellion hr {
  width: 100%;
  flex: 0;
}

.app.sheet.rebellion footer {
  flex: 0;
}

.app.sheet.rebellion form {
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  gap: 2px;

  margin-bottom: 12px;
}
