.app.sheet.rebellion.actor {
  min-width: 750px;
  min-height: 650px;

  .tab.summary {
    .profile {
      height: 160px;
      width: 160px;
      border: 0;
      border: 2px groove #eeede0;
    }

    .header {
      display: flex;
      gap: 4px;
      flex: 0;
      margin-bottom: 4px;

      .week {
        flex: 0 0 80px;
        margin-bottom: 8px;
        border-bottom: 2px solid var(--color-underline-header);
      }
    }

    .details {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
    }

    .checks {
      display: grid;
      grid-template-columns: 1fr 1fr auto 1fr auto 1fr auto 1fr auto 1fr;
      grid-template-rows: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      gap: 8px;

      .org-check {
        display: flex;
        gap: 8px;
      }
    }
  }

  .tab.events {
    .eventChance {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
    }
  }

  .info-box {
    flex: 1;
    display: flex;
    flex-flow: column;

    border: 1px solid var(--color-border-dark-3);
    border-radius: 0.3em;

    .label {
      flex: 0;
      margin: 0;
      text-align: center;

      padding: 0.2em 0.3em;
      white-space: nowrap;

      font-size: var(--font-size-13);
      font-weight: bold;
      color: var(--color-text-light-highlight);
      text-shadow: 1px 1px var(--color-shadow-dark);
      background-color: rgba(0, 0, 0, 0.5);
    }

    .value {
      flex: 1;
      display: flex;
      flex-flow: column;
      padding: 1px 3px;
      align-items: center;
      justify-content: center;
      line-height: 1.5em;
    }
  }

  .info-box-joined {
    display: flex;
    flex-flow: row nowrap;

    > .info-box {
      border-radius: unset;
      flex: 1;
      border-right-style: unset;

      &:first-of-type {
        border-radius: 0.3em 0 0 0.3em;
      }
      &:last-of-type {
        border-radius: 0 0.3em 0.3em 0;
        border-right-style: solid;
      }
    }
  }
}

.app.sheet.rebellion.actor h1 input {
  background: none;
  height: 100%;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid black;
    box-shadow: 0 0 8px red;
  }
}
